/.hintrc
/.vscode
/add_product_in_json
/animation_video
/bar_code_creater
/bills
/bliue_print.drawio
/count_timer
/env_pratical
/forpayment
/fox.svg
/location
/mail
/new_qrcode_genrater
/oose.py
/qrcode.html
/redeem_code
/send_otp_code.md
/setuppayment.html
/test.drawio
/video_bars
/voice_authotication